/*! ==========================================================================
   UIKIT Custom
   ========================================================================== */

@import "components/variables";
@import "node_modules/uikit/src/scss/variables-theme.scss";
@import "node_modules/uikit/src/scss/mixins-theme.scss";
@import "components/mixins";
@import "node_modules/uikit/src/scss/uikit-theme.scss";

/*! ==========================================================================
   Theme styles
   ========================================================================== */

html {
    $global-font-family: 'Ubuntu', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    background: $color-white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: $color-white $imp;
    font-weight: 400;
    font-size: 15px;
    max-width: 2160px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.site-main {
    .uk-padding-large {
        padding-top: 150px;
        @media (max-width: 768px) {
            padding: 30px 8px !important;
        }
    }
    .accordion-box {
        border: 1px solid $gray;
        border-radius: 5px;
        padding: 0px;
        .uk-accordion-content {
            margin: 0;
        }
        span.blue-text {
            color: #637ED8;
        }
        li.uk-open>.uk-accordion-title,
        .uk-accordion-title:hover,
        .uk-accordion-title:focus {
            color: #666 $imp;
        }
        a.uk-accordion-title {
            font-size: 16px;
            color: $color-blue;
        }
        ul {
            margin: 0;
            li {
                border-top: 1px solid $gray;
                padding: 18px 12px;
                margin-top: 0px;
            }
        }
        h2 {
            font-size: 23px;
            padding: 25px 18px;
            margin: 0;
            color: $text-gray;
            font-weight: 500;
        }
        .uk-button-primary {
            text-transform: capitalize;
            padding: 0px 10px;
            line-height: 30px;
            margin-top: 3px;
            border-radius: 6px;
            background: #637ED8;
        }
        li.uk-open {
        background: $light-backround;
        }
        .uk-accordion-title:before {
            content: "";
            width: 16px;
            height: 10px;
            margin-right: 8px;
            margin-left: 0px;
            margin-top: 6px;
            float: left;
            background-image: url("../img/arrow-left.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            transition: transform 300ms ease-in-out;
        }
        .uk-open>.uk-accordion-title:before {
            -webkit-transform: rotate(90deg);
            transform: rotate(-90deg);
            transition: transform 400ms ease-in-out;
        }
    }

}